}

.container {
    width: 100%;
    max-width: 1180px;
    margin: auto; /* center */
}

.row {
    margin-top: 50px;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.isi {
    border: 1px solid gray;
    padding: 30px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
}